.canvas-graph{
    width: 100vw;
    height: 100vh;
    background: #dedad2;
    overflow: hidden;
}

/* Styling taken from:
(getcssscan.com, n.d.) - https://getcssscan.com/css-box-shadow-examples  (EMBOSS)
and (Roee Yossef, 2024) - https://savvy.co.il/en/blog/css/playing-with-css-text-shadow-property/ (#19 & #53)
*/
.app-title{
    padding: 1px 20px ;
    background: #c8c4bc;
    color: #a8a49c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    border-radius: 30px;
}

.app-title h1{
    font-size: 25px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.tool-panel{
    padding: 0px ;
    background: #c8c4bc00;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Styling taken from:
(getcssscan.com, n.d.) - https://getcssscan.com/css-box-shadow-examples  (EMBOSS)
and (Roee Yossef, 2024) - https://savvy.co.il/en/blog/css/playing-with-css-text-shadow-property/ (#19 & #53)
*/
.tool-panel button{
    padding: 10px 15px ;
    background: #3a3a3a;
    font-size: 16px;
    font-weight: 400;
    color: #cdcdcd;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0  1px 0 rgba(255, 255, 255, 0.12);
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    border: none;
    border-radius: 12px;    
    font-family: 'Courier New', monospace;
}


/* Styling taken from:
(getcssscan.com, n.d.) - https://getcssscan.com/css-box-shadow-examples  (EMBOSS)
and (Roee Yossef, 2024) - https://savvy.co.il/en/blog/css/playing-with-css-text-shadow-property/ (#19 & #53)
*/
.regex-input{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    background: white;
    border: none;
    color: black;
    border-radius: 12px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    font-family: 'Courier New', monospace;
}


/* Styling taken from:
(getcssscan.com, n.d.) - https://getcssscan.com/css-box-shadow-examples  (EMBOSS)
and (Roee Yossef, 2024) - https://savvy.co.il/en/blog/css/playing-with-css-text-shadow-property/ (#19 & #53)
*/
.word-input{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 400;
    background: white;
    border: none;
    color: black;
    border-radius: 12px;
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    font-family: 'Courier New', monospace;
}

.word-test{
    padding: 10px 15px ;
    background: white;
    font-size: 16px;
    font-weight: 300;
    color: black;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0  1px 0 rgba(255, 255, 255, 0.12);
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    border-radius: 12px;   
}


.word-test.accepted{
    background: #248824;
    color: #ffffff;
}

.word-test.rejected{
    background: #9d2323;
    color: #ffffff;
}

input::placeholder{
    font-family:'Courier New', monospace;
    color:grey;
}

.help-panel{
    padding: 0px ;
    background: #c8c4bc00;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Styling taken from:
(getcssscan.com, n.d.) - https://getcssscan.com/css-box-shadow-examples  (EMBOSS)
and (Roee Yossef, 2024) - https://savvy.co.il/en/blog/css/playing-with-css-text-shadow-property/ (#19 & #53)
*/
.help-panel button{
    padding: 10px 15px ;
    background: #3a3a3a;
    font-size: 20px;
    font-weight: 600;
    color: #888;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0  1px 0 rgba(255, 255, 255, 0.12);
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    border: none;
    border-radius: 50%;    
}

/* Styling taken from:
(getcssscan.com, n.d.) - https://getcssscan.com/css-box-shadow-examples  (EMBOSS)
and (Roee Yossef, 2024) - https://savvy.co.il/en/blog/css/playing-with-css-text-shadow-property/ (#19 & #53)
*/
.help-menu{
    position : relative;
    padding: 1px 20px ;
    background: #c8c4bc;
    color: #a8a49c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    border-radius: 30px;
}

/* Styling taken from:
(getcssscan.com, n.d.) - https://getcssscan.com/css-box-shadow-examples  (EMBOSS)
and (Roee Yossef, 2024) - https://savvy.co.il/en/blog/css/playing-with-css-text-shadow-property/ (#19 & #53)
*/
.help-menu button{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    padding: 1px;
    align-items: center;
    justify-content: center;
    background: #3a3a3a;
    font-size: 12px;
    font-weight: 600;
    color: #888;
    border: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0  1px 0 rgba(255, 255, 255, 0.12);
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
    border-radius: 50%;  
}

.help-menu h2{
    font-size: 25px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.help-menu p{
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    align-items: center;
    justify-content: center;
}



