.canvas-graph{
    width: 100vw;
    height: 100vh;
    background: #dedad2;
    overflow: hidden;
}

.app-title{
    padding: 1px 20px ;
    background: #c8c4bc;
    color: #a8a49c;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
    border-radius: 30px;
}

.app-title h1{
    font-size: 25px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.tool-panel{
    padding: 0px ;
    background: #c8c4bc00;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tool-panel button{
    padding: 10px 15px ;
    background: #3a3a3a;
    font-size: 20px;
    font-weight: 600;
    color: #888;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0  1px 0 rgba(255, 255, 255, 0.12);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
    border-radius: 12px;    
}

.regex-input{
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0  1px 0 rgba(255, 255, 255, 0.12);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
}

.word-test{
    padding: 10px 15px ;
    background: #3a3a3a;
    font-size: 20px;
    font-weight: 600;
    color: #888;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0  1px 0 rgba(255, 255, 255, 0.12);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
    border-radius: 12px;    
}


.word-test.accepted{
    background: #248824;
    color: #ffffff;
}

.word-test.rejected{
    background: #9d2323;
    color: #ffffff;
}


.help-panel{
    padding: 0px ;
    background: #c8c4bc00;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.help-panel button{
    padding: 10px 15px ;
    background: #3a3a3a;
    font-size: 20px;
    font-weight: 600;
    color: #888;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0  1px 0 rgba(255, 255, 255, 0.12);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
    border-radius: 50%;    
}
