.custom-node{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid;
    border-color: black;
}

.custom-node.selected{
border-color: blue;
}

.custom-node.accepting{
    border-style: double;
    border-width: 6px;
}

.custom-node.starting{
    background: yellow;
}

